name: Build Universal-Updater

on:
  push:
    branches-ignore: [translation]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: ["*"]
    paths-ignore:
      - 'README.md'
  release:
    types: [published]
  workflow_dispatch:

concurrency:
  group: ci-${{ startsWith(github.ref, 'refs/pull') && github.ref || 'publish' }}

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm
    name: Build with Docker using devkitARM
    outputs:
      commit_tag: ${{ steps.build.outputs.commit_tag }}
      commit_hash: ${{ steps.build.outputs.commit_hash }}
      author_name: ${{ steps.build.outputs.author_name }}
      committer_name: ${{ steps.build.outputs.committer_name }}
      commit_subject: ${{ steps.build.outputs.commit_subject }}
      commit_message: ${{ steps.build.outputs.commit_message }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Setup environment
        run: git config --global safe.directory '*'
      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install p7zip-full -y

          curl -L https://github.com/Epicpkmn11/bannertool/releases/latest/download/bannertool.zip -o bannertool.zip
          sudo 7z e bannertool.zip linux-x86_64/bannertool
          sudo chmod +x bannertool
          mv bannertool /usr/local/bin
          rm bannertool.zip
          curl -L https://github.com/3DSGuy/Project_CTR/releases/download/makerom-v0.17/makerom-v0.17-ubuntu_x86_64.zip -o makerom-v0.17-ubuntu_x86_64.zip
          sudo 7z e makerom-v0.17-ubuntu_x86_64.zip
          sudo chmod +x makerom
          mv makerom /usr/local/bin
          rm makerom-v0.17-ubuntu_x86_64.zip
      - name: Build
        id: build
        run: |
          make
          mkdir -p ~/artifacts
          cp Universal-Updater.3dsx ~/artifacts
          cp Universal-Updater.cia ~/artifacts
          echo "commit_tag=$(git describe --abbrev=0 --tags --exclude git)" >> $GITHUB_OUTPUT
          echo "commit_hash=$(git log --format=%h -1)" >> $GITHUB_OUTPUT

          # Webhook info
          echo "author_name=$(git log -1 $GITHUB_SHA --pretty=%aN)" >> $GITHUB_OUTPUT
          echo "committer_name=$(git log -1 $GITHUB_SHA --pretty=%cN)" >> $GITHUB_OUTPUT
          echo "commit_subject=$(git log -1 $GITHUB_SHA --pretty=%s)" >> $GITHUB_OUTPUT
          echo "commit_message<<EOF" >> $GITHUB_OUTPUT
          git log -1 $GITHUB_SHA --pretty=%b >> $GITHUB_OUTPUT
          echo EOF >> $GITHUB_OUTPUT
      - name: Publish build to GH Actions
        uses: actions/upload-artifact@v4
        with:
          path: ~/artifacts/*
          name: build

  # Only run this for non-PR jobs.
  publish_build:
    runs-on: ubuntu-latest
    name: Publish build
    if: ${{ success() && !startsWith(github.ref, 'refs/pull') }}
    needs: build
    env:
      COMMIT_TAG: ${{ needs.build.outputs.commit_tag }}
      COMMIT_HASH: ${{ needs.build.outputs.commit_hash }}
      AUTHOR_NAME: ${{ needs.build.outputs.author_name }}
      COMMIT_SUBJECT: ${{ needs.build.outputs.commit_subject }}
      COMMIT_MESSAGE: ${{ needs.build.outputs.commit_message }}
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: build
          path: build
        # This one always runs
      - name: Delete the 'git' release
        run: |
          # Get the release ID for tag 'git'
          AUTH_HEADER="Authorization: token ${{ secrets.GITHUB_TOKEN }}"
          CONTENT_TYPE="Content-Type: application/json"
          API_URL="https://api.github.com/repos/${{ github.repository }}/releases/tags/git"

          echo Checking for old release...
          RESPONSE=$(curl -H "$AUTH_HEADER" -H "$CONTENT_TYPE" "$API_URL")
          STATUS=$(echo $RESPONSE | jq -r .status)
          if [ "$STATUS" != "404" ]; then
            # If it exists, delete it
            ID=$(echo $RESPONSE | jq -r .id)
            API_URL="https://api.github.com/repos/${{ github.repository }}/releases/$ID"
            echo Deleting old release...
            curl --fail-with-body -XDELETE -H "$AUTH_HEADER" -H "$CONTENT_TYPE" "$API_URL"

            echo Deleting old tag...
            API_URL="https://api.github.com/repos/${{ github.repository }}/git/refs/tags/git"
            curl --fail-with-body -XDELETE -H "$AUTH_HEADER" -H "$CONTENT_TYPE" "$API_URL"
          fi

        # This one only runs for releases
      - name: Upload to ${{ github.ref_name }} release
        if: ${{ startsWith(github.ref, 'refs/tags') }}
        run: |
          ID=$(jq -r '.release.id' $GITHUB_EVENT_PATH)

          for file in ${{ github.workspace }}/build/*; do
            AUTH_HEADER="Authorization: token ${{ secrets.GITHUB_TOKEN }}"
            CONTENT_LENGTH="Content-Length: $(stat -c%s $file)"
            CONTENT_TYPE="Content-Type: application/7z-x-compressed"
            UPLOAD_URL="https://uploads.github.com/repos/${{ github.repository }}/releases/$ID/assets?name=$(basename $file)"

            echo Uploading to release...
            curl --fail-with-body -XPOST -H "$AUTH_HEADER" -H "$CONTENT_LENGTH" -H "$CONTENT_TYPE" --upload-file "$file" "$UPLOAD_URL"
          done
        
        # This one only runs if it's not a release run
      - name: Upload to 'git' release
        if: ${{ !startsWith(github.ref, 'refs/tags') }}
        run: |
          # Format the release body
          RELEASE_BODY="$AUTHOR_NAME - $COMMIT_SUBJECT"
          if [ -n "$COMMIT_MESSAGE" ]; then
            RELEASE_BODY="$RELEASE_BODY\n\n$COMMIT_MESSAGE"
          fi
          # Escape it with jq (so quotes and such don't break it)
          RELEASE_BODY=$(echo $RELEASE_BODY | jq -R)
          # However jq is going to escape our newlines, so fix that
          RELEASE_BODY=${RELEASE_BODY//\\n/\n}

          AUTH_HEADER="Authorization: token ${{ secrets.GITHUB_TOKEN }}"
          CONTENT_TYPE="Content-Type: application/json"
          API_URL="https://api.github.com/repos/${{ github.repository }}/releases"
          RELEASE_INFO="{\"tag_name\": \"git\", \"name\": \"Continuous Build - $COMMIT_HASH\", \"body\": $RELEASE_BODY, \"prerelease\": true, \"draft\": true}"

          echo Creating release with info:
          echo $RELEASE_INFO | jq .
          RESPONSE=$(curl --fail-with-body -XPOST -H "$AUTH_HEADER" -H "$CONTENT_TYPE" "$API_URL" -d "$RELEASE_INFO")
          ID=$(echo $RESPONSE | jq -r '.id')

          for file in ${{ github.workspace }}/build/*; do
            CONTENT_LENGTH="Content-Length: $(stat -c%s $file)"
            CONTENT_TYPE="Content-Type: application/7z-x-compressed"
            UPLOAD_URL="https://uploads.github.com/repos/${{ github.repository }}/releases/$ID/assets?name=$(basename $file)"

            echo Uploading $(basename $file) to release...
            curl --fail-with-body -XPOST -H "$AUTH_HEADER" -H "$CONTENT_LENGTH" -H "$CONTENT_TYPE" --upload-file "$file" "$UPLOAD_URL"
          done

          # Mark non-draft
          curl -H "$AUTH_HEADER" -d '{"draft": false}' "$API_URL/$ID"

  send_success_webhook:
    runs-on: ubuntu-latest
    needs: [publish_build, build]
    name: Send success webhook
    if: ${{ !startsWith(github.ref, 'refs/pull') && success() }}
    env:
      COMMIT_HASH: ${{ needs.build.outputs.commit_hash }}
      AUTHOR_NAME: ${{ needs.build.outputs.author_name }}
      COMMITTER_NAME: ${{ needs.build.outputs.committer_name }}
      COMMIT_SUBJECT: ${{ needs.build.outputs.commit_subject }}
      COMMIT_MESSAGE: ${{ needs.build.outputs.commit_message }}
    steps:
      - name: Send success webhook
        run: |
          curl -o send.sh https://raw.githubusercontent.com/Universal-Team/discord-webhooks/master/send-ghactions.sh
          chmod +x send.sh
          ./send.sh success ${{ secrets.WEBHOOK_URL }}
  send_failure_webhook:
    runs-on: ubuntu-latest
    needs: [publish_build, build]
    name: Send failure webhook
    if: ${{ !startsWith(github.ref, 'refs/pull') && failure() }}
    steps:
      - name: Send failure webhook
        run: |
          curl -o send.sh https://raw.githubusercontent.com/Universal-Team/discord-webhooks/master/send-ghactions.sh
          chmod +x send.sh
          ./send.sh failure ${{ secrets.WEBHOOK_URL }}
